a.primary, button {
  display: block;
  &:hover, &:focus {
    background-color: lighten($accent, 15);
  }
}

input, a.primary, button {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px darken($base, 25);
  }
}

label {
  margin-left: 1rem;
  margin-top: 1rem;
  color: darken($base, 25);
  text-transform: uppercase;
}

input {
  transition: all 0.5s ease;
  height: 3rem;
  border: none;
  background-color: $accent;
  padding-left: 1rem;
  margin-top: 0.5rem;
  font-size: 14px;
  color: $base;
  text-transform: capitalize;
}

a.primary, button {
  transition: all 0.5s ease;
  margin: 1rem;
  background-color: $accent;
  color: $base;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
}
